In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import requests
from bs4 import BeautifulSoup
import re
import math
import time
from random import randint

In [4]:
zipcode = 30114

In [6]:
url = 'https://www.realtor.com/realestateandhomes-search/' + str(zipcode) 
# + '/pg-2'
header = {'user-agent': 'using_realtor-for_data_science_immersive_project'}
res = requests.get(url,headers=header)
res.status_code

200

In [ ]:
soups = []

In [ ]:
soup = BeautifulSoup(res.content,'lxml')

In [6]:
# 48 homes each page, has total home number
# has median home value at very bottom of page

In [8]:
counts = soups[0].find('span',{'id':'search-result-count'}).text
list_cnts = re.findall('\d',counts)
counts = int(''.join(map(str,list_cnts)))
pages = math.ceil(counts/48)

print(counts, pages)

In [11]:
for num in range(2,pages+1):
    url = 'https://www.realtor.com/realestateandhomes-search/' +str(zipcode) + '/pg-' + str(num)
    res = requests.get(url)
#     print(url)
#     print(res.status_code)
#     print('')
    soup = BeautifulSoup(res.content,'lxml')
    soups.append(soup)
    sleep = randint(25,67)
    time.sleep(sleep)

In [38]:
all_home_values = []    
for soup in soups:
#     home_values = []
    home_value = {}
    for i in soup.find_all('div',{'class':'card-box'}):
        
        home_value['zipcode'] = int(i.find('span',{'class':'listing-postal'}).text)
        home_value['home_price'] = i.find('span',{'class':'data-price'}).text
    all_home_values.append(home_value)

pd.DataFrame(all_home_values)

   home_price  zipcode
0    $242,900  30114.0
1         NaN      NaN
2         NaN      NaN
3         NaN      NaN
4         NaN      NaN
5         NaN      NaN
6         NaN      NaN
7         NaN      NaN
8         NaN      NaN
9         NaN      NaN
10        NaN      NaN
11        NaN      NaN
12        NaN      NaN